extends layout

block content
  h1 This application uses a soap service to add 2 numbers
  p Welcome to the #{title}
  div
    form(action="/" method="POST" name="add_numbers")
      div
        label(for="a") a:
        input(type="text" name="a")
      div
        label(for="b") b:
        input(type="text" name="b")
      p
      div
        input(type="submit" value="Add the numbers")
    div
      label(name="sum" id="sum") The sum of #{a} and #{b} is: #{result}
    div
      label(name="duration" id="duration") Duration is #{duration}
